# ====================================
# macOS 系统文件
# ====================================
.DS_Store
.AppleDouble
.LSOverride

# ====================================
# VSCode 配置（本地配置不上传）
# ====================================
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# ====================================
# C / C++ Project
# ====================================
*.o
*.out
*.exe

# ====================================
# Logs
# ====================================
*.log