# ========================
# macOS 系统文件
# ========================
.DS_Store

# ========================
# VSCode 本地配置
# ========================
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# ========================
# C/C++ 编译产物（强烈建议忽略）
# ========================
*.o
*.out
*.exe
*.obj
*.a
*.so
*.dll

# Makefile 生成目录
build/
bin/

# ========================
# 其他不必要文件
# ========================
*.log